:root {

}

html,
body,
.reveal,
h1, h2, h3, h4 {
  font-family: 'Libertinus Sans', sans-serif !important;
}

.reveal h1, .reveal h2,
h1.reveal, h2.reveal,
h1, h2 {
  text-shadow: 6px 6px #222222 !important;
}

.reveal.small, .small {
  font-size: 0.8em;
}
